body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: justify;
    min-height: 100vh;
}

/* CSS for the intro */
.introduction {
    text-align: justify;
    padding: 20px;
    max-width: 50%;
    width: 100%;
}

h1 {
    margin-bottom: 10px;
    border-bottom: 2px solid #cdcdcd;
    width: 600px; 
    padding-bottom: 5px;
}

p {
    color: #3c3b3b;
    font-size: 16px;
    line-height: 1.6;
}

/* CSS for the FAQ */
.faq {
    text-align: justify;
    padding: 20px;
    max-width: 70%;
    width: 100%;
}

h2 {
    margin-bottom: 10px;
}

details {
    font-size: 16px;
    line-height: 1.6;
    
}

details > p {
    color: #ffffff;
    background-color: #525252;
    padding: 10px;
    border-radius: 8px;
}

/* CSS for the navigation banner */
.navbar-banner {
    display: flex;
    background-color: #181818;
    padding: 10px 20px; 
}

.navbar-banner a {
    margin-right: 20px; 
    text-decoration: none; 
    color: #fefefe; 
    font-size: 16px; 
    font-weight: bold; 
    transition: color 0.3s ease; 
}

.navbar-banner a:hover {
    color: #2cb200; 
}